---
import Header from '../components/header.astro';
import Scripts from '../components/scripts.astro'
---
<!doctype html>
<!-- Martex - Software, App, SaaS & Startup Landing Pages Pack design by DSAThemes (http://www.dsathemes.com) -->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
    
<html lang="en">
    
    <Header title = "Home" /> 

    <body>


        <!-- PRELOADER SPINNER
        ============================================= -->
        <div id="loading" class="loading--theme">
            <div id="loading-center"><span class="loader"></span></div>
        </div>
        
        
        <!-- PAGE CONTENT
        ============================================= -->
        <div id="page" class="page font--jakarta">
        
        
            <!-- HEADER
            ============================================= -->
            <header id="header" class="tra-menu navbar-light white-scroll">
                <div class="header-wrapper">
        
        
                    <!-- MOBILE HEADER -->
                    <div class="wsmobileheader clearfix">
                        <span class="smllogo"><img src="src/assets/images/logo-pink.png" alt="mobile-logo"></span>
                        <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
                    </div>
        
        
                    <!-- NAVIGATION MENU -->
                    <div class="wsmainfull menu clearfix">
                        <div class="wsmainwp clearfix">
        
        
                            <!-- HEADER BLACK LOGO -->
                            <div class="desktoplogo">
                                <a href="#hero-1" class="logo-black"><img src="src/assets/images/logo-blue.png" alt="logo"></a>
                            </div>
        
        
                            <!-- HEADER WHITE LOGO -->
                            <div class="desktoplogo">
                                <a href="#hero-1" class="logo-white"><img src="src/assets/images/logo-white.png" alt="logo"></a>
                            </div>
        
        
                            <!-- MAIN MENU -->
                            <nav class="wsmenu clearfix">
                                <ul class="wsmenu-list nav-theme">
                                    <!-- SIMPLE NAVIGATION LINK -->
                                    <li class="nl-simple" aria-haspopup="true"><a href="projects.html" class="h-link">Our
                                        Work</a></li>
                                    <li class="nl-simple" aria-haspopup="true"><a href="#about-us" class="h-link">Who Are
                                        We</a>
                                    </li>

                                            <!-- SIGN UP BUTTON -->
                                    <li class="nl-simple" aria-haspopup="true">
                                        <a href="contacts.html" class="btn r-04 btn--theme hover--theme last-link">Contact
                                            Us</a>
                                    </li>


                                </ul>
                            </nav>    <!-- END MAIN MENU -->


                        </div>
                    </div>    <!-- END NAVIGATION MENU -->


                </div>     <!-- End header-wrapper -->
            </header>    <!-- END HEADER -->

            <!-- HERO-1
    ============================================= -->
    <section id="hero-1" class="bg--scroll hero-section">
        <div class="container">
            <div class="row d-flex align-items-center">


                <!-- HERO TEXT -->
                <div class="col-md-6">
                    <div class="hero-1-txt color--white wow fadeInRight">

                        <!-- Title -->
                        <h2 class="s-58 w-700">Acceleration. Solved.</h2>

                        <!-- Text -->
                        <p class="p-xl">We help you go from an idea to an in-market product you can rely on. All in record time.
                        </p>

                        <!-- Button -->
                        <a href="projects.html" class="btn r-04 btn--theme hover--tra-white">Learn more</a>
                        <!--								<p class="p-sm btn-txt ico-15">-->
                        <!--									<span class="flaticon-check"></span> Get a free initial consultation call-->
                        <!--								</p>-->

                    </div>
                </div>    <!-- END HERO TEXT -->


                <!-- HERO IMAGE -->
                <div class="col-md-6">
                    <div class="hero-1-img wow fadeInLeft">
                        <img class="img-fluid" src="src/assets/images/hero-1-img.png" alt="hero-image">
                    </div>
                </div>


            </div>    <!-- End row -->
        </div>       <!-- End container -->
    </section>    <!-- END HERO-1 -->


    <!-- FEATURES-6
    ============================================= -->
    <section id="features-6" class="py-100 features-section division">
        <div class="container">


            <!-- SECTION TITLE -->
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-9">
                    <div class="section-title mb-70">

                        <!-- Title -->
                        <h2 class="s-50 w-700">Accelerate your Business</h2>

                        <!-- Text -->
                        <p class="s-21 color--grey">Talk to us about how we can help you design, ideate, and execute your digital-first roadmap with speed and agility.
                        </p>

                    </div>
                </div>
            </div>


            <!-- FEATURES-6 WRAPPER -->
            <div class="fbox-wrapper text-center">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">


                    <!-- FEATURE BOX #1 -->
                    <div class="col">
                        <div class="fbox-6 fb-1 wow fadeInUp">

                            <!-- Icon -->
                            <div class="fbox-ico ico-55">
                                <div class="shape-ico color--theme">

                                    <!-- Vector Icon -->
                                    <span class="flaticon-graphics"></span>

                                    <!-- Shape -->
                                    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z"
                                              transform="translate(100 100)"/>
                                    </svg>

                                </div>
                            </div>    <!-- End Icon -->

                            <!-- Text -->
                            <div class="fbox-txt">
                                <h6 class="s-20 w-700">Product Ideation</h6>
                                <p>Build stable foundations by going from idea to product in weeks, not months.

                                </p>
                            </div>

                        </div>
                    </div>    <!-- END FEATURE BOX #1 -->


                    <!-- FEATURE BOX #2 -->
                    <div class="col">
                        <div class="fbox-6 fb-2 wow fadeInUp">

                            <!-- Icon -->
                            <div class="fbox-ico ico-55">
                                <div class="shape-ico color--theme">

                                    <!-- Vector Icon -->
                                    <span class="flaticon-idea"></span>

                                    <!-- Shape -->
                                    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z"
                                              transform="translate(100 100)"/>
                                    </svg>

                                </div>
                            </div>    <!-- End Icon -->

                            <!-- Text -->
                            <div class="fbox-txt">
                                <h6 class="s-20 w-700">Product Design</h6>
                                <p>Get your message across by giving a visual voice to your products, systems, and processes.</p>
                            </div>

                        </div>
                    </div>    <!-- END FEATURE BOX #2 -->


                    <!-- FEATURE BOX #3 -->
                    <div class="col">
                        <div class="fbox-6 fb-3 wow fadeInUp">

                            <!-- Icon -->
                            <div class="fbox-ico ico-55">
                                <div class="shape-ico color--theme">

                                    <!-- Vector Icon -->
                                    <span class="flaticon-graphic"></span>

                                    <!-- Shape -->
                                    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z"
                                              transform="translate(100 100)"/>
                                    </svg>

                                </div>
                            </div>    <!-- End Icon -->

                            <!-- Text -->
                            <div class="fbox-txt">
                                <h6 class="s-20 w-700">Technical Delivery</h6>
                                <p>Rapidly deliver on your ideas by building software and infrastructure custom tailored to your needs.

                                </p>
                            </div>

                        </div>
                    </div>    <!-- END FEATURE BOX #3 -->


                    <!-- FEATURE BOX #4 -->
                    <div class="col">
                        <div class="fbox-6 fb-4 wow fadeInUp">

                            <!-- Icon -->
                            <div class="fbox-ico ico-55">
                                <div class="shape-ico color--theme">

                                    <!-- Vector Icon -->
                                    <span class="flaticon-search-engine-1"></span>

                                    <!-- Shape -->
                                    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z"
                                              transform="translate(100 100)"/>
                                    </svg>

                                </div>
                            </div>    <!-- End Icon -->

                            <!-- Text -->
                            <div class="fbox-txt">
                                <h6 class="s-20 w-700">In Market Success</h6>
                                <p>Bring meaningful features and improvements to market by understanding, validating, and anticipating how users interact with your products.</p>
                            </div>

                        </div>
                    </div>    <!-- END FEATURE BOX #4 -->


                </div>  <!-- End row -->
            </div>    <!-- END FEATURES-6 WRAPPER -->


        </div>     <!-- End container -->
    </section>    <!-- END FEATURES-6 -->

    			<!-- &lt;!&ndash; FEATURES-12-->
    <!--			============================================= &ndash;&gt;-->
    <a name="about-us" />
        <section id="features-12" class="shape&#45;&#45;bg shape&#45;&#45;white-500 pt-100 features-section division">
            <div class="container">
                <div class="row d-flex align-items-center">


<!--						&lt;!&ndash; TEXT BLOCK &ndash;&gt;	-->
                    <div class="col-md-5">
                        <div class="txt-block left-column wow fadeInRight">

<!--								&lt;!&ndash; Section ID &ndash;&gt;	-->
                            <span class="section-id">Experience Matters</span>
<!--	-->
<!--								&lt;!&ndash; Title &ndash;&gt;	-->
                            <h2 class="s-46 w-700">Learn more about how we've helped our clients define and launch their products.</h2>

<!--								&lt;!&ndash; Text &ndash;&gt;	-->
                            <p>
                                Quadratica is founded by four technology industry veterans who collectively have 50 years of experience building digital products, mostly as greenfield builds. 
                                Having built products countless times across a broad array of industries in Canada and the United States, we bring a collective set of experiences that can help you launch your product in record time and with minimum hassle. 
                            </p>

                            <a href="projects.html" class="btn r-04 btn--theme hover--tra-white">Learn more</a>

<!--								&lt;!&ndash; CONTENT BOX #1 &ndash;&gt;-->
                            <!-- <div class="cbox-1 ico-15">

                                <div class="ico-wrap color&#45;&#45;theme">
                                    <div class="cbox-1-ico"><span class="flaticon-check"></span></div>
                                </div>

                                <div class="cbox-1-txt">
                                    <p>Magna dolor luctus at egestas sapien</p>
                                </div>

                            </div> -->

<!--								&lt;!&ndash; CONTENT BOX #2 &ndash;&gt;-->
                            <!-- <div class="cbox-1 ico-15">

                                <div class="ico-wrap color&#45;&#45;theme">
                                    <div class="cbox-1-ico"><span class="flaticon-check"></span></div>
                                </div>

                                <div class="cbox-1-txt">
                                    <p>Cursus purus suscipit vitae cubilia magnis volute egestas vitae sapien
                                        turpis and ultrice magnis
                                    </p>
                                </div>

                            </div> -->

<!--								&lt;!&ndash; CONTENT BOX #3 &ndash;&gt;-->
                            <!-- <div class="cbox-1 ico-15">

                                <div class="ico-wrap color&#45;&#45;theme">
                                    <div class="cbox-1-ico"><span class="flaticon-check"></span></div>
                                </div>

                                <div class="cbox-1-txt">
                                    <p class="mb-0">Volute turpis dolores and sagittis congue</p>
                                </div>

                            </div> -->
                            
                        </div>
                        <!-- &lt;!&ndash; END TEXT BLOCK &ndash;&gt;	 -->
                    </div>	


<!--						&lt;!&ndash; FEATURES-12 WRAPPER &ndash;&gt;-->
                    <div class="col-md-7">
                        <div class="fbox-12-wrapper wow fadeInLeft">	
                            <div class="row">


                                <div class="col-md-6">

<!--				 						&lt;!&ndash; FEATURE BOX #1 &ndash;&gt;-->

                                    <a href="project-evgo-details.html"><div id="fb-12-1" class="fbox-12 bg&#45;&#45;white-100 block-shadow r-12 mb-30">

<!--											&lt;!&ndash; Icon &ndash;&gt;-->
                                        <div class="fbox-ico ico-50">
                                            <div class="shape-ico color&#45;&#45;theme">

<!--													&lt;!&ndash; Vector Icon &ndash;&gt;-->
                                                <span class="flaticon-layers-1"></span>

<!--													&lt;!&ndash; Shape &ndash;&gt;-->
                                                <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
                                                </svg>

                                            </div>
                                        </div>
                                            <!-- &lt;!&ndash; End Icon &ndash;&gt; -->

<!--											&lt;!&ndash; Text &ndash;&gt;-->
                                        <div class="fbox-txt">
                                            <h5 class="s-19 w-700">EVgo</h5>
                                            <p>Learn about how we helped EVgo build, maintain, and scale their EV charging station network across the United States.</p>
                                        </div>

                                    </div></a>

<!--				 						&lt;!&ndash; FEATURE BOX #2 &ndash;&gt;-->
                                    <a href="project-loyaltyone-details.html"><div id="fb-12-2" class="fbox-12 bg&#45;&#45;white-100 block-shadow r-12">

<!--											&lt;!&ndash; Icon &ndash;&gt;-->
                                        <div class="fbox-ico ico-50">
                                            <div class="shape-ico color&#45;&#45;theme">

<!--													&lt;!&ndash; Vector Icon &ndash;&gt;-->
                                                <span class="flaticon-profits color--theme"></span>

<!--													&lt;!&ndash; Shape &ndash;&gt;-->
                                                <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill="#f4f9fc" d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)"></path>
                                                </svg>
                                            </div>
                                        </div>
                                            <!-- &lt;!&ndash; End Icon &ndash;&gt; -->

                                        <!-- &lt;!&ndash; Text &ndash;&gt; -->
                                        <div class="fbox-txt">
                                            <h5 class="s-19 w-700">LoyaltyOne</h5>
                                            <p>Learn about how we helped LoyaltyOne scale up their infrastructure to support growing user engagement with the AirMiles app.</p>
                                        </div>

                                    </div></a>


                                </div></a>


                                <div class="col-md-6">


<!--				 						&lt;!&ndash; FEATURE BOX #3 &ndash;&gt;-->
                                    <a href="project-envisor-details.html"><div id="fb-12-3" class="fbox-12 bg&#45;&#45;white-100 block-shadow r-12 mb-30">

<!--				 							&lt;!&ndash; Icon &ndash;&gt;-->
                                        <div class="fbox-ico ico-50">
                                            <div class="shape-ico color&#45;&#45;theme">

<!--													&lt;!&ndash; Vector Icon &ndash;&gt;-->
                                                <span class="flaticon-pay-per-click"></span>

<!--													&lt;!&ndash; Shape &ndash;&gt;-->
                                                <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
                                                </svg>

                                            </div>
                                        </div>
                                            <!-- &lt;!&ndash; End Icon &ndash;&gt; -->

<!--											&lt;!&ndash; Text &ndash;&gt;-->
                                        <div class="fbox-txt">
                                            <h5 class="s-19 w-700">Envisor Technologies</h5>
                                            <p>Learn about how we helped Envisor build a asset management system for institutional investors around the world.</p>
                                        </div>

                                    </div></a>

<!--				 						&lt;!&ndash; FEATURE BOX #4 &ndash;&gt;-->
                                    <a href="project-anthem-details.html"><div id="fb-12-4" class="fbox-12 bg&#45;&#45;white-100 block-shadow r-12">

<!--											&lt;!&ndash; Icon &ndash;&gt;-->
                                        <div class="fbox-ico ico-50">
                                            <div class="shape-ico color&#45;&#45;theme">

<!--													&lt;!&ndash; Vector Icon &ndash;&gt;-->
                                                <span class="flaticon-taxes"></span>

<!--													&lt;!&ndash; Shape &ndash;&gt;-->
                                                <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
                                                </svg>

                                            </div>
                                        </div>
                                            <!-- &lt;!&ndash; End Icon &ndash;&gt; -->

<!--											&lt;!&ndash; Text &ndash;&gt;-->
                                        <div class="fbox-txt">
                                            <h5 class="s-19 w-700">Anthem Entertainment</h5>
                                            <p>Learn about how we helped Anthem scale their Royalty Processing System to meet the demands of their growing business.</p>
                                        </div>

                                    </div></a>


                                </div>


                            </div>
                                <!-- &lt;!&ndash; End row &ndash;&gt; -->
                        </div>
                        <!-- &lt;!&ndash; END FEATURES-12 WRAPPER &ndash;&gt; -->
                    </div>	

                    <!-- &lt;!&ndash; End row &ndash;&gt; -->
                </div> 
                <!-- &lt;!&ndash; End container &ndash;&gt;    -->
            </div>  
            <!-- &lt;!&ndash; END FEATURES-12 &ndash;&gt;    -->
        </section>	
 <!--			&lt;!&ndash; BRANDS-1-->
    <div id="brands-1" class="pt-80 pb-100 brands-section">
        <div class="container">


            <!-- BRANDS TITLE -->
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-9">
                    <div class="brands-title mb-50">
                        <h5 class="s-18">We ❤️ Our Clients</h5>
                    </div>
                </div>
            </div>


            <!-- BRANDS CAROUSEL -->
            <div class="row">
                <div class="col text-center">
                    <div class="owl-carousel brands-carousel-5">

                        <!-- BRAND LOGO IMAGE -->
                        <div class="brand-logo">
                            <img class="img-fluid" src="src/assets/images/practica.png" alt="practics-logo">
                        </div>

                        <!-- BRAND LOGO IMAGE -->
                        <div class="brand-logo">
                            <img class="img-fluid" src="src/assets/images/Interac.png" alt="interac-logo">
                        </div>

                        <!-- BRAND LOGO IMAGE -->
                        <div class="brand-logo">
                            <img class="img-fluid" src="src/assets/images/sunlife.png" alt="sunlife-logo">
                        </div>


                        <!-- BRAND LOGO IMAGE -->
                        <div class="brand-logo">
                            <img class="img-fluid" src="src/assets/images/airmiles.jpeg" alt="airmiles-logo">
                        </div>

                        <!-- BRAND LOGO IMAGE -->
                        <div class="brand-logo">
                            <img class="img-fluid" src="src/assets/images/glo.jpeg" alt="glo-logo">
                        </div>


                        <!-- BRAND LOGO IMAGE -->
                        <div class="brand-logo">
                            <img class="img-fluid" src="src/assets/images/rbc.png" alt="rbc-logo">
                        </div>


                        <!-- BRAND LOGO IMAGE -->
                        <div class="brand-logo">
                            <img class="img-fluid" src="src/assets/images/EVgo-logo.jpeg" alt="evgo-logo">
                        </div>


                        <!-- BRAND LOGO IMAGE -->
                        <div class="brand-logo">
                            <img class="img-fluid" src="src/assets/images/westmount.png" alt="practica-logo">
                        </div>


                        <!--								&lt;!&ndash; BRAND LOGO IMAGE &ndash;&gt;-->
                        <!--								<div class="brand-logo">-->
                        <!--									<a href="#"><img class="img-fluid" src="images/brand-8.png" alt="brand-logo"></a>-->
                        <!--								</div>-->


                        <!--								&lt;!&ndash; BRAND LOGO IMAGE &ndash;&gt;-->
                        <!--								<div class="brand-logo">-->
                        <!--									<a href="#"><img class="img-fluid" src="images/brand-9.png" alt="brand-logo"></a>-->
                        <!--								</div>-->


                    </div>
                </div>
            </div>  <!-- END BRANDS CAROUSEL -->
        </div>    <!-- End container -->
    </div>    <!-- END BRANDS-1 -->

            <!--			&lt;!&ndash; BANNER-3-->
<!--			============================================= &ndash;&gt;-->
            <section id="banner-3" class="pt-100 banner-section">
                <div class="container">


<!--					&lt;!&ndash; BANNER-3 WRAPPER &ndash;&gt;-->
                    <div class="banner-3-wrapper bg&#45;&#45;03 bg&#45;&#45;scroll r-16">
                        <div class="banner-overlay">
                            <div class="row">


<!--								&lt;!&ndash; BANNER-3 TEXT &ndash;&gt;-->
                                <div class="col">
                                    <div class="banner-3-txt color&#45;&#45;white">

<!--										&lt;!&ndash; Title &ndash;&gt;	-->
                                        <h2 class="s-48 w-700">Start the Conversation</h2>

<!--										&lt;!&ndash; Text &ndash;&gt;-->
                                        <p class="p-xl">Lets bring your idea to life, from concept to implementation.</p>

<!--										&lt;!&ndash; Button &ndash;&gt;-->
                                        <a href="contacts.html" class="btn r-04 btn&#45;&#45;theme hover&#45;&#45;tra-white">Get In Touch</a>

<!--										&lt;!&ndash; Button Text &ndash;&gt;-->
                                        <!-- <p class="p-sm btn-txt ico-15">
                                            <span class="flaticon-check"></span> Free for 14 days, no credit card required.
                                        </p> -->

                                    </div>
                                    <!-- &lt;!&ndash; END BANNER-3 TEXT &ndash;&gt; -->
                                </div>


                                <!-- &lt;!&ndash; End row &ndash;&gt; -->
                            </div>
                            <!-- &lt;!&ndash; End banner overlay &ndash;&gt;	 -->
                        </div>
                        <!-- &lt;!&ndash; END BANNER-3 WRAPPER &ndash;&gt;   	 -->
                    </div>    

                    <!-- &lt;!&ndash; End container &ndash;&gt;	 -->
                </div>     
                <!-- &lt;!&ndash; END BANNER-3 &ndash;&gt;-->
            </section>	

             <!-- MODAL WINDOW (REQUEST FORM)
    ============================================= -->
    <div id="modal-3" class="modal auto-off fade" tabindex="-1" role="dialog" aria-labelledby="modal-3">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">


                <!-- CLOSE BUTTON -->
                <button type="button" class="btn-close ico-10 white-color" data-bs-dismiss="modal" aria-label="Close">
                    <span class="flaticon-cancel"></span>
                </button>


                <!-- MODAL CONTENT -->
                <div class="modal-body">
                    <div class="container">
                        <div class="row">


                            <!-- BACKGROUND IMAGE -->
                            <div class="col-md-5 bg-img d-none d-sm-flex align-items-end"></div>


                            <!-- REQUEST FORM -->
                            <div class="col-md-7">
                                <div class="modal-body-content">

                                    <!-- TEXT -->
                                    <div class="request-form-title">

                                        <!-- Title 	-->
                                        <h3 class="s-28 w-700">Get started for Free!</h3>

                                        <!-- Text -->
                                        <p class="color--grey">Aliquam augue suscipit, luctus neque purus ipsum
                                            neque dolor primis libero
                                        </p>

                                    </div>

                                    <!-- FORM -->
                                    <form name="requestForm" class="row request-form">

                                        <!-- Form Input -->
                                        <div class="col-md-12">
                                            <input type="text" name="name" class="form-control name"
                                                   placeholder="Enter Your Name*" autocomplete="off" required>
                                        </div>

                                        <!-- Form Input -->
                                        <div class="col-md-12">
                                            <input type="email" name="email" class="form-control email"
                                                   placeholder="Enter Your Email*" autocomplete="off" required>
                                        </div>

                                        <!-- Form Button -->
                                        <div class="col-md-12 form-btn">
                                            <button type="submit" class="btn btn--theme hover--black submit">Get Started
                                                Now
                                            </button>
                                        </div>

                                        <!-- Form Message -->
                                        <div class="col-md-12 request-form-msg">
                                            <span class="loading"></span>
                                        </div>

                                    </form>    <!-- END FORM -->

                                </div>
                            </div>    <!-- END REQUEST FORM -->


                        </div>
                    </div>
                </div>    <!-- END MODAL CONTENT -->


            </div>
        </div>
    </div>    <!-- MODAL WINDOW (REQUEST FORM) -->

     <!-- FOOTER-3
    ============================================= -->
    <footer id="footer-3" class="pt-100 footer ft-3-ntr">
        <div class="container">


            <!-- FOOTER CONTENT -->
            <!--					<div class="row">-->


            <!--						&lt;!&ndash; FOOTER LOGO &ndash;&gt;-->
            <!--						<div class="col-xl-3">-->
            <!--							<div class="footer-info">-->
            <!--								<img class="footer-logo" src="images/logo-pink.png" alt="footer-logo">-->
            <!--							</div>-->
            <!--						</div>-->


            <!--						&lt;!&ndash; FOOTER LINKS &ndash;&gt;-->
            <!--						<div class="col-sm-4 col-lg-3 col-xl-2">-->
            <!--							<div class="footer-links fl-1">-->

            <!--								&lt;!&ndash; Title &ndash;&gt;-->
            <!--								<h6 class="s-17 w-700">Company</h6>-->

            <!--								&lt;!&ndash; Links &ndash;&gt;-->
            <!--								<ul class="foo-links clearfix">-->
            <!--									<li><p><a href="about.html">About Us</a></p></li>-->
            <!--									<li><p><a href="blog-listing.html">Our Blog</a></p></li>-->
            <!--									<li><p><a href="testimonials.html">Customers</a></p></li>-->
            <!--									<li><p><a href="#">Community</a></p></li>-->
            <!--								</ul>-->

            <!--							</div>-->
            <!--						</div>	&lt;!&ndash; END FOOTER LINKS &ndash;&gt;-->


            <!--						&lt;!&ndash; FOOTER LINKS &ndash;&gt;-->
            <!--						<div class="col-sm-4 col-lg-2">-->
            <!--							<div class="footer-links fl-2">-->

            <!--								&lt;!&ndash; Title &ndash;&gt;-->
            <!--								<h6 class="s-17 w-700">Product</h6>-->

            <!--								&lt;!&ndash; Links &ndash;&gt;-->
            <!--								<ul class="foo-links clearfix">-->
            <!--									<li><p><a href="features.html">Integration</a></p></li>-->
            <!--									<li><p><a href="download.html">What's New</a></p></li>-->
            <!--									<li><p><a href="pricing-1.html">Pricing</a></p></li>-->
            <!--									<li><p><a href="help-center.html">Help Center</a></p></li>-->
            <!--								</ul>-->

            <!--							</div>-->
            <!--						</div>	&lt;!&ndash; END FOOTER LINKS &ndash;&gt;-->


            <!--						&lt;!&ndash; FOOTER LINKS &ndash;&gt;-->
            <!--						<div class="col-sm-4 col-lg-3 col-xl-2">-->
            <!--							<div class="footer-links fl-3">-->

            <!--								&lt;!&ndash; Title &ndash;&gt;-->
            <!--								<h6 class="s-17 w-700">Legal</h6>-->

            <!--								&lt;!&ndash; Links &ndash;&gt;-->
            <!--								<ul class="foo-links clearfix">-->
            <!--									<li><p><a href="terms.html">Terms of Use</a></p></li>-->
            <!--									<li><p><a href="privacy.html">Privacy Policy</a></p></li>-->
            <!--									<li><p><a href="cookies.html">Cookie Policy</a></p></li>-->
            <!--									<li><p><a href="#">Site Map</a></p></li>-->
            <!--								</ul>-->

            <!--							</div>-->
            <!--						</div>	&lt;!&ndash; END FOOTER LINKS &ndash;&gt;-->


            <!--						&lt;!&ndash; FOOTER NEWSLETTER FORM &ndash;&gt;-->
            <!--						<div class="col-sm-10 col-md-8 col-lg-4 col-xl-3">-->
            <!--							<div class="footer-form">-->

            <!--								&lt;!&ndash; Title &ndash;&gt;-->
            <!--								<h6 class="s-17 w-700">Follow the Best</h6>-->

            <!--								&lt;!&ndash; Newsletter Form Input &ndash;&gt;-->
            <!--								<form class="newsletter-form">-->

            <!--									<div class="input-group r-06">-->
            <!--										<input type="email" class="form-control" placeholder="Email Address" required id="s-email">-->
            <!--										<span class="input-group-btn ico-15">-->
            <!--											<button type="submit" class="btn color&#45;&#45;theme">-->
            <!--												<span class="flaticon-right-arrow-1"></span>-->
            <!--											</button>-->
            <!--										</span>-->
            <!--									</div>-->

            <!--									&lt;!&ndash; Newsletter Form Notification &ndash;&gt;-->
            <!--									<label for="s-email" class="form-notification"></label>-->

            <!--								</form>-->

            <!--							</div>-->
            <!--						</div>	&lt;!&ndash; END FOOTER NEWSLETTER FORM &ndash;&gt;-->


            <!--					</div>	&lt;!&ndash; END FOOTER CONTENT &ndash;&gt;-->


            <hr>    <!-- FOOTER DIVIDER LINE -->


            <!-- BOTTOM FOOTER -->
            <div class="bottom-footer">
                <div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">


                    <!-- FOOTER COPYRIGHT -->
                    <div class="col">
                        <div class="footer-copyright">
                            <p class="p-sm">&copy; 2023 Quadratica. <span>All Rights Reserved</span></p>
                        </div>
                    </div>
                    <div class="col">
                        <div>We are fully remote with presence in 🇨🇦 Ontario, 🇨🇦 Quebec, and 🇩🇪 Berlin</div>
                    </div>


                    <!-- FOOTER SOCIALS -->
                    <!--							<div class="col">-->
                    <!--								<ul class="bottom-footer-socials ico-20 text-end">-->
                    <!--									<li><a href="#"><span class="flaticon-facebook"></span></a></li>-->
                    <!--									<li><a href="#"><span class="flaticon-twitter"></span></a></li>-->
                    <!--									<li><a href="#"><span class="flaticon-instagram"></span></a></li>-->
                    <!--									<li><a href="#"><span class="flaticon-youtube"></span></a></li>-->
                    <!--								</ul>-->
                    <!--							</div>-->


                </div>  <!-- End row -->
            </div>    <!-- END BOTTOM FOOTER -->


        </div>     <!-- End container -->
    </footer>   <!-- END FOOTER-3 -->


</div>    <!-- END PAGE CONTENT -->


<!-- EXTERNAL SCRIPTS
============================================= -->
<Scripts />


</body>


</html>
