---
import Header from "../components/header.astro";
import Scripts from "../components/scripts.astro";
---

<!doctype html>
<!-- Martex - Software, App, SaaS & Startup Landing Pages Pack design by DSAThemes (http://www.dsathemes.com) --><!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]--><!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]--><!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]--><!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
  <Header title="Projects" />
  <body>
    <!-- PRELOADER SPINNER
        ============================================= -->
    <div id="loading" class="loading--theme">
      <div id="loading-center"><span class="loader"></span></div>
    </div>

    <!-- PAGE CONTENT
        ============================================= -->
    <div id="page" class="page font--jakarta">
      <!-- HEADER
            ============================================= -->
      <header
        id="header"
        class="tra-menu navbar-dark inner-page-header white-scroll"
      >
        <div class="header-wrapper">
          <!-- MOBILE HEADER -->
          <div class="wsmobileheader clearfix">
            <span class="smllogo"
              ><img src="images/logo-blue.png" alt="mobile-logo" /></span
            >
            <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
          </div>

          <!-- NAVIGATION MENU -->
          <div class="wsmainfull menu clearfix">
            <div class="wsmainwp clearfix">
              <!-- HEADER BLACK LOGO -->
              <div class="desktoplogo">
                <a href="/" class="logo-black"
                  ><img src="images/logo-blue.png" alt="logo" /></a
                >
              </div>

              <!-- HEADER WHITE LOGO -->
              <div class="desktoplogo">
                <a href="/" class="logo-white"
                  ><img src="images/logo-blue-white.png" alt="logo" /></a
                >
              </div>

              <!-- MAIN MENU -->
              <nav class="wsmenu clearfix">
                <ul class="wsmenu-list nav-theme">
                  <!-- SIMPLE NAVIGATION LINK -->
                  <li class="nl-simple" aria-haspopup="true">
                    <a href="projects.html" class="h-link">Our Work</a>
                  </li>
                  <li class="nl-simple" aria-haspopup="true">
                    <a href="index#about-us" class="h-link">Who Are We</a>
                  </li>
                  <!-- SIGN UP BUTTON -->
                  <li class="nl-simple" aria-haspopup="true">
                    <a
                      href="contacts.html"
                      class="btn r-04 btn--theme hover--theme last-link"
                      >Contact Us</a
                    >
                  </li>
                </ul>
              </nav>
              <!-- END MAIN MENU -->
            </div>
          </div>
          <!-- END NAVIGATION MENU -->
        </div>
        <!-- End header-wrapper -->
      </header>
      <!-- END HEADER -->

      <!-- PROJECTS-1
            ============================================= -->
      <section id="projects-1" class="inner-page-hero projects-section">
        <div class="container">
          <!-- SECTION TITLE -->
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-9">
              <div class="section-title mb-80">
                <!-- Title -->
                <h2 class="s-52 w-700">Check out our experience!</h2>

                <!--								&lt;!&ndash; Text &ndash;&gt;	-->
                <!--								<p class="s-21 color&#45;&#45;grey">Ligula risus auctor tempus magna feugiat lacinia.</p>-->
                <!--								-->
              </div>
            </div>
          </div>

          <section class="pt-100 ct-02 content-section division">
            <div class="container">
              <!-- SECTION CONTENT (ROW) -->
              <div class="row d-flex align-items-center">
                <!-- IMAGE BLOCK -->
                <div class="col-md-6">
                  <div class="img-block left-column wow fadeInRight">
                    <img
                      class="img-fluid"
                      src="images/projects/anthem.jpeg"
                      alt="content-image"
                    />
                  </div>
                </div>

                <!-- TEXT BLOCK -->
                <div class="col-md-6">
                  <div class="txt-block right-column wow fadeInLeft">
                    <!-- TEXT BOX -->
                    <div class="txt-box">
                      <!-- Title -->
                      <h5 class="s-24 w-700">Anthem Entertainment</h5>

                      <!-- Text -->
                      <p>
                        Anthem is a rapidly growing international content and
                        services company focusing on music publishing, recorded
                        music, production music and film and television
                        services. Anthem’s client roster includes hundreds of
                        artists, writers, and rights holders of hundreds of
                        syndicated television shows. One of the critical
                        services that Anthem provides their clients is to
                        gather, process, and distribute music royalties across
                        various media sources (e.g. YouTube, Spotify, Radio, CD
                        Sales, etc). While commercial off the shelf tools exist
                        for royalty processing, they do not scale to process the
                        sheer amount of royalties Anthem was collecting on a
                        monthly basis.
                      </p>
                    </div>
                    <!-- END TEXT BOX -->

                    <a
                      href="project-anthem-details.html"
                      class="btn btn--tra-black hover--theme">Learn More</a
                    >
                  </div>
                </div>
                <!-- END TEXT BLOCK -->
              </div>
              <!-- END SECTION CONTENT (ROW) -->
            </div>
            <!-- End container -->
          </section>
          <!-- END TEXT CONTENT -->
          <section class="pt-100 ct-02 content-section division">
            <div class="container">
              <!-- SECTION CONTENT (ROW) -->
              <div class="row d-flex align-items-center">
                <!-- TEXT BLOCK -->
                <div class="col-md-6">
                  <div class="txt-block right-column wow fadeInLeft">
                    <!-- TEXT BOX -->
                    <div class="txt-box">
                      <!-- Title -->
                      <h5 class="s-24 w-700">Loyalty One</h5>

                      <!-- Text -->
                      <p>
                        Loyalty One stands as a dynamic and burgeoning global
                        entity dedicated to customer engagement solutions and
                        loyalty programs. Their range of services encompasses
                        innovative strategies for customer retention,
                        data-driven insights, and tailor-made rewards systems.
                        Loyalty One's cornerstone is their expertise in
                        designing and managing intricate rewards systems that
                        truly resonate with customers such as Airmiles. Airmiles
                        became a staple in the lives of millions, offering a
                        seamless pathway to turn everyday activities into
                        remarkable opportunities for savings and indulgence.
                      </p>
                    </div>
                    <!-- END TEXT BOX -->

                    <a
                      href="project-loyaltyone-details.html"
                      class="btn btn--tra-black hover--theme">Learn More</a
                    >
                  </div>
                </div>
                <!-- END TEXT BLOCK -->

                <!-- IMAGE BLOCK -->
                <div class="col-md-6">
                  <div class="img-block left-column wow fadeInRight">
                    <img
                      class="img-fluid"
                      src="images/projects/airmiles.jpeg"
                      alt="content-image"
                    />
                  </div>
                </div>
              </div>
              <!-- END SECTION CONTENT (ROW) -->
            </div>
            <!-- End container -->
          </section>
          <!-- END TEXT CONTENT -->
          <section class="pt-100 ct-02 content-section division">
            <div class="container">
              <!-- SECTION CONTENT (ROW) -->
              <div class="row d-flex align-items-center">
                <!-- IMAGE BLOCK -->
                <div class="col-md-6">
                  <div class="img-block left-column wow fadeInRight">
                    <img
                      class="img-fluid"
                      src="images/projects/evgo.jpeg"
                      alt="content-image"
                    />
                  </div>
                </div>

                <!-- TEXT BLOCK -->
                <div class="col-md-6">
                  <div class="txt-block right-column wow fadeInLeft">
                    <!-- TEXT BOX -->
                    <div class="txt-box">
                      <!-- Title -->
                      <h5 class="s-24 w-700">EVgo</h5>

                      <!-- Text -->
                      <p>
                        EVgo stands at the forefront of the electric vehicle
                        (EV) revolution as a dynamic and rapidly expanding
                        company dedicated to advancing electric mobility
                        solutions. Specializing in EV charging infrastructure,
                        energy services, and cutting-edge technology, EVgo plays
                        a pivotal role in shaping the future of transportation.
                        Their diverse portfolio encompasses comprehensive EV
                        charging solutions, energy management services, and
                        innovative technologies that cater to the evolving needs
                        of drivers, businesses, and municipalities. As the EV
                        market continues to flourish, EVgo remains committed to
                        delivering accessible and efficient charging options
                        across the nation. With an extensive network of charging
                        stations strategically placed in urban centers,
                        highways, workplaces, and residential areas, EVgo
                        ensures that drivers can seamlessly power up their
                        electric vehicles wherever they go.
                      </p>
                    </div>
                    <!-- END TEXT BOX -->

                    <a
                      href="project-evgo-details.html"
                      class="btn btn--tra-black hover--theme">Learn More</a
                    >
                  </div>
                </div>
                <!-- END TEXT BLOCK -->
              </div>
              <!-- END SECTION CONTENT (ROW) -->
            </div>
            <!-- End container -->
          </section>
          <!-- END TEXT CONTENT -->
          <section class="pt-100 ct-02 content-section division">
            <div class="container">
              <!-- SECTION CONTENT (ROW) -->
              <div class="row d-flex align-items-center">
                <!-- TEXT BLOCK -->
                <div class="col-md-6">
                  <div class="txt-block right-column wow fadeInLeft">
                    <!-- TEXT BOX -->
                    <div class="txt-box">
                      <!-- Title -->
                      <h5 class="s-24 w-700">Envisor</h5>

                      <!-- Text -->
                      <p>
                        Envisor was a fintech startup based out of New York that
                        aimed to create performance management software for
                        asset managers with complex fund setups. With nearly
                        $100 billion of assets under administration, Envisor
                        handled the performance management reporting of some of
                        the most demanding Hedge Funds, Private Equities, and
                        Fund of Funds in the US, including Makena Capital
                        Management, Sequoia Capital, and Commonfund. Investcloud
                        acquired Envisor to integrate the performance management
                        technologies into their broader industry tooling.
                      </p>
                    </div>
                    <!-- END TEXT BOX -->

                    <a
                      href="project-envisor-details.html"
                      class="btn btn--tra-black hover--theme">Learn More</a
                    >
                  </div>
                </div>
                <!-- END TEXT BLOCK -->

                <!-- IMAGE BLOCK -->
                <div class="col-md-6">
                  <div class="img-block left-column wow fadeInRight">
                    <img
                      class="img-fluid"
                      src="images/projects/envisor.jpeg"
                      alt="content-image"
                    />
                  </div>
                </div>
              </div>
              <!-- END SECTION CONTENT (ROW) -->
            </div>
            <!-- End container -->
          </section>
          <!-- END TEXT CONTENT -->
        </div>
        <!-- End container -->
      </section>
      <!-- END PROJECTS-1 -->

      <!-- FOOTER-3
        ============================================= -->
      <footer id="footer-3" class="pt-100 footer">
        <div class="container">
          <!-- FOOTER CONTENT -->
          <!--					<div class="row">-->

          <hr />
          <!-- FOOTER DIVIDER LINE -->

          <!-- BOTTOM FOOTER -->
          <div class="bottom-footer">
            <div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">
              <!-- FOOTER COPYRIGHT -->
              <div class="col">
                <div class="footer-copyright">
                  <p class="p-sm">
                    &copy; 2023 Quadratica.
                    <span>All Rights Reserved</span>
                  </p>
                </div>
              </div>

              <!-- FOOTER SECONDARY LINK -->
              <!--							<div class="col">-->
              <!--								<div class="bottom-secondary-link ico-15 text-end">-->
              <!--									<p class="p-sm"><a href="https://themeforest.net/user/dsathemes/portfolio">Made with -->
              <!--										<span class="flaticon-heart color&#45;&#45;pink-400"></span> by @DSAThemes</a>-->
              <!--									</p>-->
              <!--								</div>-->
              <!--							</div>-->
            </div>
            <!-- End row -->
          </div>
          <!-- END BOTTOM FOOTER -->
        </div>
        <!-- End container -->
      </footer>
      <!-- END FOOTER-3 -->
    </div>
    <!-- END PAGE CONTENT -->

    <Scripts />
  </body>
</html>
